* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: hsl(0, 100%, 100%);
  border-radius: 20px;
  border: 3px solid red;
  width: 90%;
  max-width: 1440px;
  min-width: 375px;
  display: flex;
  flex-direction: row;
}

.output-sction,
.input-section {
  padding: 35px;

  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 100%;
}

.dollar {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(184, 14%, 56%);
  font-size: 24px;
  pointer-events: none; /* so it doesn’t block clicks */
}

#bill {
  font-family: "Space Mono", monospace;
  width: 100%;
  border: 2px solid transparent;
  background-color: hsl(189, 47%, 97%);
  font-size: 24px;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  padding: 8px 16px;
  padding-left: 36px; /* leaves space for the $ */
  border-radius: 8px;
  text-align: right;
  outline: none;
  transition: border-color 0.2s ease;
}

#bill:focus {
  border-color: hsl(172, 67%, 45%);
}

#bill::placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 1;
}
