body {
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 10px;
}

.content p {
  padding: 10px;
  border-left: 2px solid #e95400;
  /* #414d0b */
  max-width: 700px;
}

code {
  color: #e95400;
  font-weight: bold;
}

.codebox {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.codebox .cmt {
  color: gray;
}

.codebox code {
  margin-bottom: 5px;
}

.box {
  /* background-color: magenta; */
  margin-top: 30px;
  border: 3px solid black;
  border-radius: 8px;
  height: 400px;
  width: 700px;
  background: linear-gradient(
    to bottom right,
    rgb(169, 223, 223),
    rgb(222, 222, 158),
    rgb(223, 153, 223)
  );
}

.another-box {
  border: 3px solid red;
  border-radius: 8px;
  height: 200px;
  width: 200px;
}
