* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--clr-gold);
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.hidden {
  display: none;
}

.question {
  display: flex;
  gap: 100px;
  margin-bottom: 10px;
}

button {
  padding: 4px 10px;
}
