/* Reset & Base Styles */

body {
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  font-weight: 500;
}

h1 {
  margin: 0;
  font-size: 80px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0px;
}

h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.hero {
  background-color: #863ae8;
  color: #fff;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p,
.hero h1 {
  width: 75%;
  min-width: 900px;
  margin: 16px 0;
}

hr {
  width: 50%;
  margin: 32px 0;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

.info {
  font-family: "Bitter", serif;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info span {
  color: #e95400;
}

.headline {
  font-size: 18px;
  margin: 40px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
}

.quote {
  border-left: 2px solid #e95400;
  font-style: italic;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

.content h3 {
  text-transform: capitalize;
}

code {
  color: #e95400;
  font-weight: bold;
}

footer {
  background-color: #863ae8;
}

footer ul {
  list-style-type: none;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 30px 16px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}
